[Unit]
Description=ClamAV scan of {{ clamav_directory }}
Wants=mnt-mediashuttle.mount network-online.target clamd@rct.service
After=mnt-mediashuttle.mount network-online.target clamd@rct.service

[Service]
Type=simple
User=clamscan
Group=clamscan
ExecStart=/usr/bin/clamdscan --config={{ clamav_config }} --multiscan --fdpass {{ clamav_directory }}
