#!/usr/bin/env bash
set -o nounset  # unset variables/parameters are errors
set -o errexit  # exit if pipe returns non-zero
set -o pipefail # if any part of pipe fails, fail pipe
IFS=$'\n\t'     # only split string on newline or tab

mediashuttle_dir="{{ mediashuttle_cleanup_dir }}"
log_file="{{ mediashuttle_cleanup_log }}"
cleanup_days="{{ mediashuttle_cleanup_days }}"
warning_days="{{ mediashuttle_cleanup_warning_days }}"
find_warning_days=$((cleanup_days - warning_days)) # the access time in days for files to be delete in WARNING_DAYS
date_format=$(date -u "+%Y_%m_%d")                 # formatted date, using -u for utc

email_report() {
    if [[ -f $log_file ]]; then
        return 0
    fi
}

if [[ -d $mediashuttle_dir ]]; then
    find "$mediashuttle_dir" -depth -type f -atime +"$cleanup_days" -fprint "$log_file"_"$date_format".log -delete
    find "$mediashuttle_dir" -depth -type f -atime +"$find_warning_days" -fprint "$log_file"_"$date_format"_delete_in_"$warning_days"_days.log
else
    echo >&2 "[ERROR] MEDIA SHUTTLE DIRECTORY NOT FOUND"
    exit 1
fi
